.entityInfo {
    padding: 40px 0px 10px 10px;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box; 
}

.entityInfo .rightSection h2 {
    padding-bottom: 15px;
}

.entityInfo .rightSection p {
    color: #939393;
    font-weight: 200;
    font-size: 15px;
    padding-bottom: 15px;
}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.trackListRow span {
    color: #939393;
    font-weight: 200;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow:hover .trackCount img{
    visibility: visible;
}

.trackListRow .trackCount span{
    visibility: visible;
}

.trackListRow:hover .trackCount span{
    visibility: hidden;
}

.trackListRow .trackInfo{
    width: 75%;
    float: left;
}

.trackListRow .trackInfo .trackName{
    color: #fff;
    margin-bottom: 7px;
}

.trackListRow .trackInfo span {
    display: block;
}

.trackListRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    width: 15px;
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;    
}

.optionsMenu {
    text-align: center;
    position: fixed;
    background-color: #282828;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.optionsMenu .item{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147, 147, 147, 0.8);
    cursor: pointer;
    height: 40px;
}
select {
    text-align: center;
    font-size: 14px;
    background-color: #282828;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.optionsMenu .item:hover{
    color: #fff;
    background-color: #333;
    border-color: #333;
}