.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    text-align: center;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"] {
    padding-left: 5px;
    height: 50px;
    width: 100%;
    background: #1f1f1f;
    font-size: 18px;
    border: none;
}


.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container .button {
    display: block;
    margin: 16px auto;
}

.userDetails .container .message {
    color: #2ebd59;
    font-weight: 300;
}

.userDetails .container.borderBottom{
    margin-bottom: 25px;
}